body {
    background-color: rgb(199, 235, 196);
    color: #141175;
    font-family: Arial, Helvetica, sans-serif;
  }

.jumbotron {
    background-image: url("C:\Users\roder\Documents\GitHub\Classwork\BellyButton_Biodiversity\Challenge\static\images\Navelgazing.jpeg");
    background-size: 100% 100%;
    text-align: center;
}

